  <div id="manageBookPopup" class="popup" data-popup="width:600" title="Manage Custom Books">
    <div class="body"> 
		<div class="lblFieldPair">
			<div class="lbl txtb mtm"> <label for="">Book Name:</label> </div>
			<div class="input">
				<div class="scrollContainer nm nbdr">
					<div id="mngCustLst" class="bdr p">
						<ul class="nlist">
							<li rel="mbb">My Book of Business</li>
							<li rel="cbo">Custom Book One</li>
							<li rel="bb">Bob's Book</li>
							<li rel="nr">Northwest Region</li>
							<li rel="arlbn">A really long book name</li>
							<li rel="ab">Another Book</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="lblFieldPair">
			<div class="lbl p"> <label for="">Take Action:</label> </div>
			<div class="input">
				<div class="">
					<select id="actionSelect" name="actionSelect" aria-required="" disabled="disabled" class="m">
						<option>-Select-</option>
						<option>Rename</option>
						<option>Set As Default Book</option>
						<option>Delete</option>
					</select>
					<input type="text" id="renameBook" name="renameBook" aria-required="" class="closed"/>
				</div>
			</div>
		</div>
	</div>
	<div class="btnBar">
	  <a role="button" href="#closePopup" class="btn3" title="Cancel"><span>Cancel</span></a>
	  <button class="btn" title="Submit" id="applyMngCust"><span>Apply</span></button>
	</div>
  </div>
 
 <div id="createBookPopup" class="popup" data-popup="width:700" title="Create Custom Books">
    <div class="body"> 
		<div class="lblFieldPair">
			<div class="lbl txtb mtm"><label for="">Current Selections:</label> </div>
			<div class="input">
				<div class="scrollContainer nbdr">
					<div id="curSelPopup" class="bdr p">
						<ul class="nlist">
							<li><span>My Team: Cruz, Penelope</span><span class="icdeleteIcon icon flr">Delete</span></li>
							<li><span>My Team: Smith, John</span><span class="icdeleteIcon icon flr">Delete</span></li>
							<li><span>Region: North</span><span class="icdeleteIcon icon flr">Delete</span></li>
							<li><span>Region: West</span><span class="icdeleteIcon icon flr">Delete</span></li>
							<li><span>Opportunities: Win Prob: 24%</span><span class="icdeleteIcon icon flr">Delete</span></li>
							<li><span>Opportunities: Service Model: Recordkeeping Services(Existing)</span><span class="icdeleteIcon icon flr">Delete</span></li>
							<li><span>Region: East</span><span class="icdeleteIcon icon flr">Delete</span></li>
							<li><span>Region: South</span><span class="icdeleteIcon icon flr">Delete</span></li>
							<li><span>Region: National</span><span class="icdeleteIcon icon flr">Delete</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="nbdr">
			<div class="lblFieldPair">
				<div class="lbl"> <label for="">Book Name:</label> </div>
				<div class="input"> <input type="text" id="bookNamePopup" name="bookNamePopup" aria-required=""/>
					<ul class="lblSelectPair">
						<li>
							<input id="setDfltBook" name="setDfltBook" type="checkbox" class="chkbox mtxs" aria-required="" />
							<label for="democheckbox1">Set As Default Book</label>
						</li>
					</ul>
				</div>
			</div>
		    
		</div>
	</div>
	<div class="btnBar">
	  <a role="button" href="#closePopup" class="btn3" title="Cancel"><span>Cancel</span></a>
	  <button class="btn" title="Submit" id="saveCustomBook"><span>Save Custom Book</span></button>
	</div>
  </div>
<div id="infodivWin" class="infoHover closed">
	<div class="pointer"></div>
	<div class="bd inputxlg">
		<div class="mblg">Assets</div>
		<div class="slider mt ui-slider" id="timeframe-slider"></div>
		<div class="mt">
			<label class="abs">0%</label>
			<label class="abs" style="left: 60px;"><span class="icupLink icmid icon"></span><span class="lblmid">20%</span></label>
			<label class="abs" style="left: 110px;"><span class="icupLink icmid icon"></span><span class="lblmid">40%</span></label>
			<label class="abs" style="left: 159px;"><span class="icupLink icmid icon"></span><span class="lblmid">60%</span></label>
			<label class="abs" style="left: 208px;"><span class="icupLink icmid icon"></span><span class="lblmid">80%</span></label>
			<label class="abs" style="left: 245px;">100%</label>
		</div>
		<div class="ptxlg">
			<input type="text" class="inputxs mr" maxlength="5" id="range1" value="0">
			to <input type="text" class="inputxs mls" maxlength="5" id="range2" value="5m+">
		</div>
		<div class="btnBar mtm">
			<a title="Cancel" class="btn3 rel btncancel" id="winCancel" href="#"><span>Cancel</span></a>
			<a title="Apply" class="btn clickable rel" id="applySlider" href="#"><span>Apply</span></a>
		</div>
	</div>
</div>




<!-- Start Of POPUP For Sprint 4-->
<div id="infodivChannel" class="infoHover">
	 <div class="pointer"></div>
	<div class="bd ">
		<div class="mblg">Channel</div>
		<ul class="lblSelectPair">
			<li>
				<input type="checkbox" id="channelchk1">
				<label for="channelchk1">Phone (In)</label>
			</li>
			<li>
				<input type="checkbox" id="channelchk2">
				<label for="channelchk2">Phone (Out)</label>
			</li>
			<li>
				<input type="checkbox" id="channelchk3">
				<label for="channelchk3">Email</label>
			</li>
			<li>
				<input type="checkbox" id="channelchk4">
				<label for="channelchk4">In Person (Campus)</label>
			</li>
			<li>
				<input type="checkbox" id="channelchk5">
				<label for="channelchk5">In Person (TIAA-CREF)</label>
			</li>
		</ul>
		<div class="btnBar pbs">
		<a title="Cancel" class="btn3 rel btncancel" href="#"><span>Cancel</span></a>
		<a title="Apply" class="btn clickable rel" id="btnapply1" href="#"><span>Apply</span></a>
		</div>
	</div>
	
</div>


<div id="infodivVisited" class="infoHover closed">
	<div class="pointer"></div>
	<div class="bd inputxlg">
		<div class="mblg">Last Visited</div>
		<ul class="lblSelectPair">
			<li>
				<input type="radio" id="visitedrd1">
				<label for="visitedrd1">Never</label>
			</li>
			<li>
				<input type="radio" id="visitedrd2">
				<label for="visitedrd2">Last 30 Days</label>
			</li>
			<li>
				<input type="radio" id="visitedrd3">
				<label for="visitedrd3">Last 60 Days</label>
			</li>
			<li>
				<input type="radio" id="visitedrd4">
				<label for="visitedrd4">Last 90 Days</label>
			</li>
			<li>
				<input type="radio" id="visitedrd5">
				<label for="visitedrd5">Last 180 Days</label>
			</li>
			<li>
				<input type="radio" id="visitedrd6">
				<label for="visitedrd6">Last Year</label>
			</li>
		</ul>
		<div class="btnBar pbs">
		<a title="Cancel" class="btn3 rel btncancel" href="#"><span>Cancel</span></a>
		<a title="Apply" class="btn clickable rel" id="btnapply2" href="#"><span>Apply</span></a>
		</div>
	</div>
</div>


<div id="infodivStatus" class="infoHover closed">
	<div class="pointer"></div>
	<div class="bd inputxlg">
		<div class="mblg">Status</div>
		<ul class="lblSelectPair">
			<li>
				<input type="radio" id="statusrd1">
				<label for="statusrd1">Open</label>
			</li>
			<li>
				<input type="radio" id="statusrd2">
				<label for="statusrd2">In Progress</label>
			</li>
			<li>
				<input type="radio" id="statusrd3">
				<label for="statusrd3">Closed</label>
			</li>
		</ul>
		<div class="btnBar pbs">
		<a title="Cancel" class="btn3 rel btncancel" href="#"><span>Cancel</span></a>
		<a title="Apply" class="btn clickable rel" id="btnapply3" href="#"><span>Apply</span></a>
		</div>
	</div>
</div>

<div id="infodivOpportunity" class="infoHover closed">
	<div class="pointer"></div>
	<div class="bd inputxlg">
		<div class="mblg">Opportunity Type</div>
		<ul class="lblSelectPair">
			<li>
				<input type="checkbox" id="opportunitychk1">
				<label for="opportunitychk1">Annual Review</label>
			</li>
			<li>
				<input type="checkbox" id="opportunitychk2">
				<label for="opportunitychk2">Database Update</label>
			</li>
			<li>
				<input type="checkbox" id="opportunitychk3">
				<label for="opportunitychk3">Due Diligence</label>
			</li>
			<li>
				<input type="checkbox" id="opportunitychk4">
				<label for="opportunitychk4">Execution Summary</label>
			</li>
			<li>
				<input type="checkbox" id="opportunitychk5">
				<label for="opportunitychk5">Fee Proposal</label>
			</li>
			<li>
				<input type="checkbox" id="opportunitychk6">
				<label for="opportunitychk6">Investment Question</label>
			</li>
			<li>
				<input type="checkbox" id="opportunitychk7">
				<label for="opportunitychk7">Proactive Proposal</label>
			</li>
			<li>
				<input type="checkbox" id="opportunitychk8">
				<label for="opportunitychk8">RFI</label>
			</li>
			<li>
				<input type="checkbox" id="opportunitychk9">
				<label for="opportunitychk9">RFP</label>
			</li>
		</ul>
		<div class="btnBar pbs">
		<a title="Cancel" class="btn3 rel btncancel" href="#"><span>Cancel</span></a>
		<a title="Apply" class="btn clickable rel" id="btnapply4" href="#"><span>Apply</span></a>
		</div>
	</div>
</div>

<div id="infodivService" class="infoHover closed">
	<div class="pointer"></div>
	<div class="bd inputxlg">
		<div class="mblg">Service Model</div>
		<ul class="lblSelectPair">
			<li>
				<input type="checkbox" id="servicechk1">
				<label for="servicechk1">Acquisision (Existing Client)</label>
			</li>
			<li>
				<input type="checkbox" id="servicechk2">
				<label for="servicechk2">Acquisision (New Client)</label>
			</li>
			<li>
				<input type="checkbox" id="servicechk3">
				<label for="servicechk3">Deconversion (Full)</label>
			</li>
			<li>
				<input type="checkbox" id="servicechk4">
				<label for="servicechk4">Deconversion (Partial)</label>
			</li>
			<li>
				<input type="checkbox" id="servicechk5">
				<label for="servicechk5">Non-Qualified Plans (Funded)</label>
			</li>
			<li>
				<input type="checkbox" id="servicechk6">
				<label for="servicechk6">Non-Qualified Plans (Unfunded)</label>
			</li>
			<li>
				<input type="checkbox" id="servicechk7">
				<label for="servicechk7">Plan Merge</label>
			</li>
			<li>
				<input type="checkbox" id="servicechk8">
				<label for="servicechk8">Plan Split</label>
			</li>
			<li>
				<input type="checkbox" id="servicechk9">
				<label for="servicechk9">Recordkeeping Services (Exiting)</label>
			</li>
			<li>
				<input type="checkbox" id="servicechk10">
				<label for="servicechk10">Recordkeeping Services (New)</label>
			</li>
			<li>
				<input type="checkbox" id="servicechk11">
				<label for="servicechk11"><Start Up Plan/label>
			</li>
			<li>
				<input type="checkbox" id="servicechk12">
				<label for="servicechk12">Straight Thru Change Control</label>
			</li>
		</ul>
		<div class="btnBar pbs">
		<a title="Cancel" class="btn3 rel btncancel" href="#"><span>Cancel</span></a>
		<a title="Apply" class="btn clickable rel" id="btnapply5" href="#"><span>Apply</span></a>
		</div>
	</div>
</div>

<div id="infodivSales" class="infoHover closed">
	<div class="pointer"></div>
	<div class="bd inputxlg">
		<div class="mblg">Sales Phase</div>
		<ul class="lblSelectPair">
			<li>
				<input type="checkbox" id="saleschk1">
				<label for="saleschk1">1</label>
			</li>
			<li>
				<input type="checkbox" id="saleschk2">
				<label for="saleschk2">2</label>
			</li>
			<li>
				<input type="checkbox" id="saleschk3">
				<label for="saleschk3">3</label>
			</li>
			<li>
				<input type="checkbox" id="saleschk4">
				<label for="saleschk4">4</label>
			</li>
			<li>
				<input type="checkbox" id="saleschk5">
				<label for="saleschk5">5</label>
			</li>
			<li>
				<input type="checkbox" id="saleschk6">
				<label for="ssaleschk6">6</label>
			</li>
			<li>
				<input type="checkbox" id="saleschk7">
				<label for="saleschk7">7</label>
			</li>
			<li>
				<input type="checkbox" id="saleschk8">
				<label for="saleschk8">8</label>
			</li>
			<li>
				<input type="checkbox" id="saleschk9">
				<label for="saleschk9">9</label>
			</li>
		</ul>
		<div class="btnBar pbs">
		<a title="Cancel" class="btn3 rel btncancel" href="#"><span>Cancel</span></a>
		<a title="Apply" class="btn clickable rel" id="btnapply6" href="#"><span>Apply</span></a>
		</div>
	</div>
</div>

<div id="infodivWin" class="infoHover closed">
	<div class="pointer"></div>
	<div class="bd inputxlg">
		<div class="mbm">
		<div class="mblg">Win Probability</div>
		<div id="single-slider" class="slider"></div>
		<label id="lbl1" class="abs">0%</label>
		<label id="lbl1_2" class="abs"></label>
		<label id="lbl2" class="abs" style="left: 245px;">100%</label>
		<div class="clear"></div>
		</div>
		<div class="btnBar mtm">
			<a title="Cancel" class="btn3 rel btncancel" id="winCancel"href="#"><span>Cancel</span></a>
			<a title="Apply" class="btn clickable rel" id="applySlider" href="#"><span>Apply</span></a>
		</div>
	</div>
</div>

  <div id="manageBookPopup" class="popup" data-popup="width:600" title="Manage Custom Books">
    <div class="body"> 
		<div class="lblFieldPair">
			<div class="lbl txtb mtm"> <label for="">Book Name:</label> </div>
			<div class="input">
				<div class="scrollContainer nm nbdr">
					<div id="mngCustLst" class="bdr p">
						<ul class="nlist">
							<li rel="mbb">My Book of Business</li>
							<li rel="cbo">Custom Book One</li>
							<li rel="bb">Bob's Book</li>
							<li rel="nr">Northwest Region</li>
							<li rel="arlbn">A really long book name</li>
							<li rel="ab">Another Book</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="lblFieldPair">
			<div class="lbl p"> <label for="">Take Action:</label> </div>
			<div class="input">
				<div class="">
					<select id="actionSelect" name="actionSelect" aria-required="" disabled="disabled" class="m">
						<option>-Select-</option>
						<option>Rename</option>
						<option>Set As Default Book</option>
						<option>Delete</option>
					</select>
					<input type="text" id="renameBook" name="renameBook" aria-required="" class="closed"/>
				</div>
			</div>
		</div>
	</div>
	<div class="btnBar">
	  <a role="button" href="#closePopup" class="btn3" title="Cancel"><span>Cancel</span></a>
	  <button class="btn" title="Submit" id="applyMngCust"><span>Apply</span></button>
	</div>
  </div>
 
 <div id="createBookPopup" class="popup" data-popup="width:700" title="Create Custom Books">
    <div class="body"> 
		<div class="lblFieldPair">
			<div class="lbl txtb mtm"><label for="">Current Selections:</label> </div>
			<div class="input">
				<div class="scrollContainer nbdr">
					<div id="curSelPopup" class="bdr p">
						<ul class="nlist">
							<li><span>My Team: Cruz, Penelope</span><span class="icdeleteIcon icon flr">Delete</span></li>
							<li><span>My Team: Smith, John</span><span class="icdeleteIcon icon flr">Delete</span></li>
							<li><span>Region: North</span><span class="icdeleteIcon icon flr">Delete</span></li>
							<li><span>Region: West</span><span class="icdeleteIcon icon flr">Delete</span></li>
							<li><span>Opportunities: Win Prob: 24%</span><span class="icdeleteIcon icon flr">Delete</span></li>
							<li><span>Opportunities: Service Model: Recordkeeping Services(Existing)</span><span class="icdeleteIcon icon flr">Delete</span></li>
							<li><span>Region: East</span><span class="icdeleteIcon icon flr">Delete</span></li>
							<li><span>Region: South</span><span class="icdeleteIcon icon flr">Delete</span></li>
							<li><span>Region: National</span><span class="icdeleteIcon icon flr">Delete</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="nbdr">
			<div class="lblFieldPair">
				<div class="lbl"> <label for="">Book Name:</label> </div>
				<div class="input"> <input type="text" id="bookNamePopup" name="bookNamePopup" aria-required=""/>
					<ul class="lblSelectPair">
						<li>
							<input id="setDfltBook" name="setDfltBook" type="checkbox" class="chkbox mtxs" aria-required="" />
							<label for="democheckbox1">Set As Default Book</label>
						</li>
					</ul>
				</div>
			</div>
		    
		</div>
	</div>
	<div class="btnBar">
	  <a role="button" href="#closePopup" class="btn3" title="Cancel"><span>Cancel</span></a>
	  <button class="btn" title="Submit" id="saveCustomBook"><span>Save Custom Book</span></button>
	</div>
  </div>
  
  
<!-- End Of POPUP For Sprint 
4-->