<div id="infodivWin" class="infoHover closed">
	<div class="pointer"></div>
	<div class="bd inputxlg">
		<div class="mblg">Assets</div>
		<div class="slider mt ui-slider" id="timeframe-slider"></div>
		<div class="mt">
			<label class="abs">0%</label>
			<label class="abs" style="left: 60px;"><span class="icupLink icmid icon"></span><span class="lblmid">20%</span></label>
			<label class="abs" style="left: 110px;"><span class="icupLink icmid icon"></span><span class="lblmid">40%</span></label>
			<label class="abs" style="left: 159px;"><span class="icupLink icmid icon"></span><span class="lblmid">60%</span></label>
			<label class="abs" style="left: 208px;"><span class="icupLink icmid icon"></span><span class="lblmid">80%</span></label>
			<label class="abs" style="left: 245px;">100%</label>
		</div>
		<div class="ptxlg">
			<input type="text" class="inputxs mr" maxlength="5" id="range1" value="0">
			to <input type="text" class="inputxs mls" maxlength="5" id="range2" value="5m+">
		</div>
		<div class="btnBar mtm">
			<a title="Cancel" class="btn3 rel btncancel" id="winCancel" href="#"><span>Cancel</span></a>
			<a title="Apply" class="btn clickable rel" id="applySlider" href="#"><span>Apply</span></a>
		</div>
	</div>
</div>

<div class="infoHover infoHov closed" id="assetClassId">
	<div class="pointer"></div>
	<div class="bd">
		<div class="clearfix">
			<div class="one_half "> 
				<div class="mb">Asset Class</div>
				<ul class="lblSelectPair assetClass">
				  <li class="check">
					<input id="asset1" name="asset1" type="checkbox" class="chkbox allSel" aria-required="" />
					<label for="asset1">All Assets</label>
				  </li>
				  <li class="check">
					<input id="asset2" name="asset2" type="checkbox" class="chkbox sel" aria-required="" />
					<label for="asset2">Equities</label>
				  </li>
				  <li class="check">
					<input id="asset3" name="asset3" type="checkbox" class="chkbox sel" aria-required="" />
					<label for="asset3">Money Market</label>
				  </li>
				  <li class="check">
					<input id="asset4" name="asset4" type="checkbox" class="chkbox sel" aria-required="" />
					<label for="asset4">Fixed Income</label>
				  </li>
				  <li class="check">
					<input id="asset5" name="asset5" type="checkbox" class="chkbox sel" aria-required="" />
					<label for="asset5">Multi-Asset</label>
				  </li>
				  <li class="check">
					<input id="asset6" name="asset6" type="checkbox" class="chkbox sel" aria-required="" />
					<label for="asset6">Guaranteed</label>
				  </li>
				  <li class="check">
					<input id="asset7" name="asset7" type="checkbox" class="chkbox sel" aria-required="" />
					<label for="asset7">Real Estate</label>
				  </li>
				  <li class="check">
					<input id="asset8" name="asset8" type="checkbox" class="chkbox sel" aria-required="" />
					<label for="asset8">Brokerage</label>
				  </li>
				</ul>
			</div>
			<div class="one_half column_last">
				<!-- <ul class="lblSelectPair mtlg">
					<li class="check">
						<input id="lty" name="ac" type="radio" class="radio" checked aria-required="" />
						<label for="lty">Last 2 Years</label>
					</li>
					<li class="check">
						<input id="ytd" name="ac" type="radio" class="radio" aria-required="" />
						<label for="ytd">YTD</label>
					</li>
					<li class="check">
						<input id="asof" name="ac" type="radio" class="radio" aria-required="" />
						<label for="asof">AS OF</label>
					</li>
				</ul> 
			<input type="text" data-changeyear="true" data-changemonth="true" class="inputDate" id="testinput-Date-picker1" name="testinput-Date" aria-required="" />-->
			</div>
		</div>
		<div class="btnBar pbs"> 
			<a href="#" class="btn3 rel btnSmall btncancel" id="assetCancel" title="Cancel"><span>Cancel</span></a> 
			<a href="#" id="assetapply" class="btn clickable btnSmall" title="Apply"><span>Apply</span></a> 
		</div>
	</div>
</div>
  
<div class="infoHover infoHov closed" id="investmentId">
	<div class="pointer"></div>
	<div class="bd">
		<div>Investments</div>
		<ul class="lblSelectPair">
		<!-- <li class="check">
		<input id="fundComp" name="InvestPop" type="radio" class="radio" checked aria-required="" />
		<label for="fundComp">By Fund Company</label>
		</li>  -->
			<li class="check">
				<!-- <input id="investType" name="InvestPop" type="radio" class="radio" aria-required="" /> -->
				<label for="investType" class="txtb">By Investment Type</label>
			</li>
		</ul>
	<div id="InvestType">
	<div class="scrollCont1 pop">
		<div Class="scrollBody1 rel">
		<div class="mlm">
			<ul class="lblSelectPair mls" id="InstName">
				<li class="check">
					<input type="checkbox" class="allSels" id="allInvestments"/>
					<label for="allInvestments">Select All</label>
				</li>
				<li class="check">
					<input type="checkbox" class="chkbox sels" id="invest0"/>
					<label for="invest0">Advisor One Amerigo Fund Class N</label>
				</li>
				<li class="check">
				  <input type="checkbox" id="invest1" class="chkbox sels"/>
				  <label for="invest1">Advisor One Clermont Fund Class N</label>
				</li>
				<li class="check">
				  <input type="checkbox" id="invest2" class="chkbox sels"/>
				  <label for="invest2">Advisor One Descartes Fund Class N</label>
				</li>
				<li class="check">
				  <input type="checkbox" id="invest3" class="chkbox sels"/>
				  <label for="invest3">Advisor One Flexible Income Fund Class N</label>
				</li>
				<li class="check">
				  <input type="checkbox" id="invest4" class="chkbox sels"/>
				  <label for="invest4">Advisor One Liahona Fund Class N</label>
				</li>
				<li class="check">
				  <input type="checkbox" id="invest5" class="chkbox sels"/>
				  <label for="invest5">Advisor One Select Allocation Fund Class N</label>
				</li>
				<li class="check">
				  <input type="checkbox" id="invest6" class="chkbox sels"/>
				  <label for="invest6">Alger Capital Appreciation Portfolio I-2</label>
				</li>
				<li class="check">
				  <input type="checkbox" id="invest7" class="chkbox sels"/>
				  <label for="invest7">Alger Spectra Fund Class I</label>
				</li>
				<li class="check">
				  <input type="checkbox" id="invest8" class="chkbox sels"/>
				  <label for="invest8">Alliance Bernstein Discovery Growth Fund Class A</label>
				</li>
				<li class="check">
				  <input type="checkbox" id="invest9" class="chkbox sels"/>
				  <label for="invest9">Alliance Bernstein Discovery Growth Fund Inc. Class I</label>
				</li>
				<li class="check">
				  <input type="checkbox" id="invest10" class="chkbox sels"/>
				  <label for="invest10">Alliance Bernstein Discovery Value Fund Advisor Class</label>
				</li>
				<li class="check">
				  <input type="checkbox" id="invest11" class="chkbox sels"/>
				  <label for="invest11">Alliance Bernstein Discovery Value Fund Class A</label>
				</li>
				<li class="check">
				  <input type="checkbox" id="invest12" class="chkbox sels"/>
				  <label for="invest12">Alliance Bernstein Discovery Value Fund Class I</label>
				</li>
				<li class="check">
				  <input type="checkbox" id="invest13" class="chkbox sels"/>
				  <label for="invest13">Alliance Bernstein Global Bond Fund Advisor Class</label>
				</li>
				<li class="check">
				  <input type="checkbox" id="invest14" class="chkbox sels"/>
				  <label for="invest14">Alliance Bernstein Global Bond Fund Class A</label>
				</li>
			</ul>
		</div>
		</div>
	</div>
	</div>	
	<div class="btnBar pbs"> 
		<a href="#" class="btn3 rel btnSmall btncancel" id="assetCancel" title="Cancel"><span>Cancel</span></a> 
		<a href="#" id="btnapply" class="btn clickable btnSmall btncancel" title="Apply"><span>Apply</span></a> 
	</div>
</div>
</div>
  	
<div id="remittanceDate" class="infoHover infoHov closed">
	<div class="pointer"></div>
	<div class="bd">
		<div class="mb">Date Range (Month End Totals)</div>
		<div class="mls">
			<select name="month" id="month" size="1"  aria-required="" class="inputs">
				<option value="1">Jan</option>
				<option value="2">Feb</option>
				<option value="3">Mar</option>
				<option value="4">Apr</option>
				<option value="5">May</option>
				<option value="6">Jun</option>
				<option value="7">Jul</option>
				<option value="8">Aug</option>
				<option value="9">Sep</option>
				<option value="10">Oct</option>
				<option value="11">Nov</option>
				<option value="12">Dec</option>
			</select>
			<select name="year" id="year" size="1"  aria-required="" class="inputs">
				<option value="" selected="selected"></option>
				<option value=""></option>
			</select>
		</div>
		<span class="m txtb">To</span>
		<div class="mls">
			<select name="month1" id="month1" size="1"  aria-required="" class="inputs">
				<option value="1">Jan</option>
				<option value="2">Feb</option>
				<option value="3">Mar</option>
				<option value="4">Apr</option>
				<option value="5">May</option>
				<option value="6">Jun</option>
				<option value="7">Jul</option>
				<option value="8">Aug</option>
				<option value="9">Sep</option>
				<option value="10">Oct</option>
				<option value="11">Nov</option>
				<option value="12">Dec</option>
			</select>
			<select name="year1" id="year1" size="1"  aria-required="" class="inputs">
				<option value=""></option>
				<option value="" selected="selected"></option>
			</select>
			<div class="alertHighlight">
				<span class="alertText inputlg hidden" id="dateRange">Please select a valid Date Range.</span>
			</div>
		</div>
		<div class="btnBar mtm">
			<a title="Cancel" class="btn3 rel btncancel" id="cancelDate" href="#"><span>Cancel</span></a>
			<a title="Apply" class="btn clickable rel" id="applyDate" href="#"><span>Apply</span></a>
		</div>
	</div>
</div>

<div id="distributionDate" class="infoHover infoHov closed">
	<div class="pointer"></div>
	<div class="bd">
		<div class="mb">Date Range (Month End Totals)</div>
		<div class="mls">
			<select name="month" id="monthDis" size="1"  aria-required="" class="inputs">
				<option value="1">Jan</option>
				<option value="2">Feb</option>
				<option value="3">Mar</option>
				<option value="4">Apr</option>
				<option value="5">May</option>
				<option value="6">Jun</option>
				<option value="7">Jul</option>
				<option value="8">Aug</option>
				<option value="9">Sep</option>
				<option value="10">Oct</option>
				<option value="11">Nov</option>
				<option value="12">Dec</option>
			</select>
			<select name="year" id="yearDis" size="1"  aria-required="" class="inputs">
				<option value="" selected="selected"></option>
				<option value=""></option>
			</select>
		</div>
		<span class="m txtb">To</span>
		<div class="mls">
			<select name="month1" id="month1Dis" size="1"  aria-required="" class="inputs">
				<option value="1">Jan</option>
				<option value="2">Feb</option>
				<option value="3">Mar</option>
				<option value="4">Apr</option>
				<option value="5">May</option>
				<option value="6">Jun</option>
				<option value="7">Jul</option>
				<option value="8">Aug</option>
				<option value="9">Sep</option>
				<option value="10">Oct</option>
				<option value="11">Nov</option>
				<option value="12">Dec</option>
			</select>
			<select name="year1" id="year1Dis" size="1"  aria-required="" class="inputs">
				<option value=""></option>
				<option value="" selected="selected"></option>
			</select>
			<div class="alertHighlight">
				<span class="alertText inputlg hidden" id="dateRangeDis">Please select a valid Date Range.</span>
			</div>
		</div>
		<div class="btnBar mtm">
			<a title="Cancel" class="btn3 rel btncancel" id="cancelDateDis" href="#"><span>Cancel</span></a>
			<a title="Apply" class="btn clickable rel" id="applyDateDis" href="#"><span>Apply</span></a>
		</div>
	</div>
</div>

<div id="manageBookPopup" class="popup" data-popup="width:600" title="Manage Custom Books">
    <div class="body"> 
		<div class="alertModule hidden" aria-live="assertive" id="alertModule">
			 <div>
			  <span class="icon"></span>
			  <h4 role="alert">Error:</h4>
			  <ul>
				<li role="alert">New Name Can Not Be Blank.Please Enter a Book Name Before Saving.</li>
			 </ul>
			</div>
		</div>
		<div class="lblFieldPair">
			<div class="lbl txtb mtm"> <label for="">Book Name:</label> </div>
			<div class="input">
				<div class="scrollContainer nm nbdr">
					<!--<div id="mngCustLst" class="bdr p clickable">
						<ul class="nlist np">
							<li rel="acb">Another Custom Book</li>
							<li rel="cbo">Custom Book One</li>
							<li rel="bb">Bob's Book</li>
							<li rel="nr">Northwest Region</li>
							<li rel="arlbn">A really long book name</li>
							<li rel="ab">Another Book</li>
						</ul>
					</div>
					<div id="mngCustLst1" class="bdr p clickable closed">
						<ul class="nlist np">
							<li rel="cbo">Custom Book One</li>
							<li rel="bb">Bob's Book</li>
							<li rel="nr">Northwest Region</li>
							<li rel="arlbn">A really long book name</li>
							<li rel="ab">Another Book</li>
						</ul>
					</div>-->
					<div id="mngCustLst" class="bdr p clickable">
						<ul class="nlist np">
							<li rel="mli" class="flevel"><span class="txtb">My Client Books</span>
								<ul class="nlist pl nmb" id="myClientBooks">
									<li rel="b1" class="myBk">Book1</li>
									<li rel="b2" class="myBk">Book2</li>
									<li rel="b3" class="myBk">Book3</li>
								</ul>
							</li>
							<li rel="mli" class="flevel"><span class="txtb">All Client Books</span>
								<ul class="nlist pl nmb" id="allClientBooks">
									<li rel="allb1">AllBook1</li>
									<li rel="allb2">AllBook2</li>
									<li rel="allb3">AllBook3</li>
								</ul>
							</li>	
							<li rel="mli" class="flevel"><span class="txtb">Global Books</span>
								<ul class="nlist pl nmb" id="globalBooks">
									<li rel="gb1" class="gblbk">GlobalBook1</li>
									<li rel="gb2" class="gblbk">GlobalBook2</li>
									<li rel="gb3" class="gblbk gbldra">GlobalBook3(Draft)</li>
								</ul>
							</li>	
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="lblFieldPair">
			<div class="lbl p"> <label for="">Take Action:</label> </div>
			<div class="input">
				<div class="">
					<select id="actionSelect" name="actionSelect" aria-required="" class="m" disabled>
						<option value="sel">-Select-</option>
						<!--<option value="makecopy">Make Copy</option>-->
						<option value="rename">Rename</option>
						<option value="setasdef">Set As Default Book</option>
						<option value="publish" disabled>Publish Draft</option>
						<option value="del">Delete</option>
					</select>
					<input type="text" id="renameBook" name="renameBook" aria-required="" class="closed"/>
					<input type="text" id="copyBook" name="copyBook" aria-required="" class="closed"/>
				</div>
			</div>
		</div>
	</div>
	<div class="btnBar">
		<a role="button" href="#" class="btn3 closePopup" title="Cancel"><span>Cancel</span></a>
		<button class="btn" title="Submit" id="applyMngCust"><span>Apply</span></button>
	</div>
</div>
 
<div id="createBookPopup" class="popup" data-popup="width:700" title="Create Custom Books">
    <div class="body"> 
		<div class="alertModule hidden" aria-live="assertive" id="alertModule1">
			 <div>
			  <span class="icon"></span>
			  <h4 role="alert">Error:</h4>
			  <ul>
				<li role="alert">Please Enter a Book Name before you save.</li>
			 </ul>
			</div>
		</div>
		<div class="lblFieldPair">
			<div class="lbl txtb mtm"><label for="">Current Selections:</label> </div>
			<div class="input">
				<div class="scrollContainer nbdr">
					<div class="bdr p rel">
						<ul class="nlist" id= "curSelPopup">
							
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="nbdr">
			<div class="lblFieldPair">
				<div class="lbl"> <label for="">Book Name:</label> </div>
				<div class="input"> <input type="text" id="bookNamePopup" name="bookNamePopup" aria-required=""/>
					<ul class="lblinline flr" id="bookNameRadio">
						<li>
						  <input type="radio" id="cbradio1" name="cbradio" rel="#globalBooks #globalClients" class="radio" aria-labelledby="cbradio" />
						  <label for="cbradio1">Global</label>
						</li>
						<li>
						  <input type="radio" id="cbradio2" name="cbradio" rel="#globalBooks #globalClients" class="radio" aria-labelledby="cbradio" />
						  <label for="cbradio2">Global Draft</label>
						</li>
						<li>
						  <input type="radio" id="cbradio3" name="cbradio" rel="#myClientBooks #myClients" class="radio" checked="checked" aria-labelledby="cbradio" />
						  <label for="cbradio3">My Book(s)</label>
						</li>
				    </ul>
					<ul class="lblSelectPair">
						<li>
							<input id="setDfltBook" name="setDfltBook" type="checkbox" class="chkbox mtxs" aria-required="" />
							<label for="democheckbox1" class="setLbl">Set As Default Book</label>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="btnBar">
		<a role="button" href="#" class="btn3 closePopup" title="Cancel"><span>Cancel</span></a>
		<button class="btn" title="Submit" id="saveCustomBook"><span>Save Custom Book</span></button>
	</div>
</div>
  
<div id="alertPopup" class="popup" data-popup="width:300" title="Alert">
	<div class="body"> 
		You have selected a different view.Switching views will clear all selected filters.Do you wish to change views?
	</div>
	<div class="btnBar">
		<a role="button" href="#" id="cancelViewChange" class="btn3 closePopup" title="No"><span>No</span></a>
		<a role="button" href="#" id="viewChange" class="btn closePopup" title="Yes"><span>Yes</span></a>
	</div>
</div>
  
<div id="deleteBook" class="popup" data-popup="width:300" title="Alert">
    <div class="body"> 
		You have chosen to delete the<span id="bnam" class="txtb closed"></span> custom book.Are you sure you want to delete this book?
	</div>
	<div class="btnBar">
		<a role="button" href="#" id="canceldel" class="btn3 closePopup" title="No"><span>No</span></a>
		<a role="button" href="#" id="delBook" class="btn closePopup" title="Yes"><span>Yes</span></a>
	</div>
</div>
  
<div class="actionsMenu" id="group-actions">
	<ul id="groupaccmenu" class="">
		<li> <a href="assets/ibob_excel.xlsx" title="Export to Excel">Export to Excel</a></li>
	</ul>
</div>