/* Date-Picker CSS */
.thirdleveledit .icon{background: url("../images/sprite_icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);background-position: -29px -33px !important;height: 11px !important; width: 11px !important;margin-top: -7px !important}
.listOpt{font-style:normal !important;font-weight:normal !important;color: #666 !important}
.highcharts-container span {background-color: #ffffff;}
.heightfix{position:relative !important;height:1% !important; padding:0 0 75px 0;}
.ie6 .heightfix{z-index:0;}
.ie7 .heightfix{z-index:0;}
.ie6 .heightfix{margin:0 0 75px 0;}
/*.tqwl{width:86%;}*//*commented for UD2style*/
.foh{width:47% !important;}
.icon{cursor: pointer;}
/*.oneCol #wrapper{ min-width:1200px !important;}*/ /*commented for UD2style*/
/*.ui-tabs .ui-tabs-panel{ padding:0px;}
.panels .panels{padding-left:0px;}*//*commented for UD2style*/
.custscrollX{overflow-x:scroll !important}
.ml40px{margin-left:40px !important}
.firstColumn .firstlevelCrs{position:absolute; top: -16px;right:5px;}
.firstlevelEdt {top: -9px;}
.firstlevel{height:auto;}
.penicon{top: -4px !important;}
.inputBtn{width: 168px !important; font: 700 12px Arial,Helvetica,sans-serif !important;}
 ie6 issue fix*/
.relheight{*height:auto !important;_height:1%!important}
.secondleveldiv label{display:inline !important}
.oneCol .planpanel .hd,.oneCol .planpanel .content{background:none !important;padding:0px!important;margin:0px !important; width: 100% !important;}
.oneCol .planpanel h3{padding: 4px !important}
ul.lblSelectPair {list-style-type:none;padding:0;margin:0}
/*ul.lblSelectPair li {padding:8px 15px 3px 15px;position:relative;margin:0;zoom:1} */ /*commented for UD2style*/
ul.lblSelectPair input{left:0;top:10px !important;position:absolute;margin-left:4px;padding-left:4px !important;height:12px;width:12px; top:11px\9 !important;}
ul.lblSelectPair label{margin-left:5px !important; margin-left:7px\9 !important;display:block;font-weight:normal;color:#484A4D}
.secondlevel label{padding-bottom:2px !important;}
.ie7 #leftcol_bob .input{widht: 10px !important}
.chkAllign{top:11px !important}
.iconAllign{top:-4px !important}
.ie7 .penicon {top:10px !important}
.ie6 .penicon {top:10px !important}
.ie7 ul.lblSelectPair input{top:8px !important}
.ie6 #renderLineChart_ContributionsTrends{padding:0px 0px 5px 0px !important;} 
#curSelsSec .nlist li{border-bottom:1px dashed #ccc !important; clear:both;}
#currentSel li{border-bottom:1px dashed #ccc !important; clear:both; width: 99%;}
#curSelPopup ul li{clear:both;}
.nlist li{line-height:28px; padding-left:5px;}
#leftcol_bob .nlist li, .secondColumn .nlist li{background:none !important; line-height:18px !important;}
#leftcol_bob .hd{background:none repeat scroll 0 0 #FFFFFF !important; line-height:18px !important;}
.ie7 .custIcon {right: 0px !important; position:absolute !important;  margin-left: 2px!important}
.ie6 .custIcon {top:-29px !important}
.ie8 .custIcon {position:relative !important;}
#currentSel li{position: relative !important;}
.modal{z-index:999999 !important;}
.infoHover {z-index:999999 !important;}
.pagetitle{z-index:1 !important; background: #ffffff;}
.headercontent{z-index:1 !important;}
.icupLink.icmid{margin-top:-24px;_margin-top:-10px;margin-left:8px;*left:7px!important}
.icupLink.icmidge{margin-top:-24px;_margin-top:-10px;margin-left:1px;*left:1px!important}
html.ie7 .icupLink.icmid,html.ie7 .icupLink.icmidge{margin-top:-15px}
.lblmid{margin-left:-13px}
.lblmidage{margin-left:-10px;*padding-left:1px}
.heightfix{position:relative !important;height:1% !important}
#curSelsSec {height: 144px !important}
.scrollContainer div {height: 150px !important;}
.ie8 .scrollContainer div {width: 179px !important; overflow-x:hidden}
.ie7 .scrollContainer div {width: 173px !important;}
.current li{border-bottom:1px dashed #ccc !important; float:left;}
.ie8 .current li{border-bottom:1px dashed #ccc !important; float:left; width: 148px !important;overflow-x:hidden; }
.scrollCont {border: 1px dotted #D6D6D6;	width: 185px !important;}
.teamScroll{width: 158px !important;}
.scrollCont .scrollBody{background: none repeat scroll 0 0 #FFFFFF;height: 200px;margin: 1em 0;overflow: auto;padding: 0;}
.scrollCont1 .scrollBody1{height: 180px;margin: 1em 0;overflow-x: hidden !important;padding: 0;}
.pop{border: 1px dotted #D6D6D6;width: 366px !important;}
/*.pop1{width: 182px !important}*/ /*commented for UD2style*/
.scrollContainer{margin: 0px !important;}
.scrollCont div li, .scrollCont div div, .scrollCont div  div ul li {height:20px !important; margin:0px !important;}
.scroll div ul li,.scroll div, {overflow:hidden !important; height: auto !important; margin: none!important}
.scroll ul.lblSelectPair > li > label{float: none!important}
.oneCol .planpanel .content {margin-bottom: 5px !important;}
#myClients, #allClients{font-style:normal !important;}
.oneCol .planpanel h3, #myClientStates, #allClientStates {margin-left: 5px !important;}
.clsicn{display:block; width:80%; float:left; line-height: 20px}
.ie8 .clsicn{display:block; width:125px; float: left !important}
.ie7 .clsicn{display:block; width:125px; float: left !important; margin-right: 20px !important}
.legendCol{background:#aa4643 !important;}
.htitle{color:#0052A3 !important; font-size: 20px;  font-weight: bold;}
.foh{margin-right:16px !important;}
.chartBorder{margin-bottom:16px !important;}
#clientSelector ul.lblinline > li > label{margin-left:0px;}
#clientSelector ul.lblinline li{clear:none !important;}
.bottomM { margin-bottom: 16px !important;}
.topM { margin-top: 16px !important;}
.btm { margin-bottom: 6px !important;margin-top: 6px !important;}
.mheader{margin: -4px !important;}
.colbM {margin-bottom: 24px !important;}
.custIcon{padding-right: 5px !important; padding-left:4px!important; margin-top: 2px !important;}
.TopBotM{margin-top: 16px !important;margin-bottom: 16px !important;}
ul.lblSelectPair > li > label {float: left !important;}
.ie8 ul.lblinline li{margin-right:0px !important;}
.ie7 ul.lblinline li{margin-right:0px !important;}
.ui-widget-header{border-top: none !important;}
.ie7 .scrollContainer div{overflow-x:hidden !important;}
.ie7 .firstColumn{overflow-x:hidden !important;}
.firstColumn{overflow:hidden !important;}
.ie7 a.tipLink{position: absolute !important; top: 12px !important;}
.ie7 ul.lblSelectPair label{margin-left:9px !important;}
.ie8 ul.lblSelectPair label {margin-left:8px !important;}
.firstColumn{width:200px !important; margin-right:10px !important;}
.firstColumn.leftcol{display:block;}
.tableScrollX{
	overflow-x:hidden !important;
	overflow-y:hidden !important;
	width:100% !important;
	}
/*#myTabsDiv{overflow-x:auto !important;overflow-y:hidden !important}
#contentColumn #wrapper{padding:0 !important;}*/ /*commented for UD2style*/
body, #container, .pagecontent, .content.oneCol .pagecontent .contentcol, .content .pagecontent, .pagetitle {
    min-width: 100% !important;
}
#contentColumn{overflow:hidden !important;}
/*.content.oneCol .pagecontent #wrapper{margin:0 0 0 2px !important; width: auto !important;}*//*commented for UD2style*/
.ie7 .secondColumn{margin-left:2px!important;}
.ie7 .firstColumn{position:relative!important;}
.ie7 .scrollCont1 .scrollBody1{overflow-x: hidden !important; overflow-y:auto !important}
.ie8 .scrollCont1 .scrollBody1{overflow-x: hidden !important; overflow-y:auto !important}
.ie7 .infoHov .pointer{top: 70% !important;}
.check{clear: both; float: left;  margin: 0; padding: 8px 15px 3px; position: relative;}
.ie7 .check{float: none !important;}
#assetClassId{width: 280px !important;}
#investmentId{width: 400px !important;}
.temp{position: absolute !important;}
.leftMa label {margin: 0 !important;}
.ie7 .inline input{top: -2px !important;}
#investmentId .bd .bd {border: none !important; box-shadow:none !important}
#investmentId .bd .bgexpanded,#investmentId .bd .hdexpanded {border: none !important}
.ie7 #investmentId .bd .bd {border: none !important; box-shadow:none !important}
.ie7 #investmentId .bd .bgexpanded, .ie7 #investmentId .bd .hdexpanded {border: none !important}
.secondColumn .actions {border: 1px solid #D0D5D9;padding: 1px 18px 1px 10px !important;}
#head {padding: none !important}

/*UD2 CSS Styling*/
.fontMatch {
    color: #000000 !important;
    font-family: 'Gustan-Book' !important;
    font-size: 28px !important;
}

.hdfontMatch {
    font-size: 16px !important;
    font-weight: bold !important;
}

.bdrClr {
    border: 1px solid #CCCCCC !important;
}

.oneCol .planpanel .content .bd {
    background: none repeat scroll 0 0 #F2F7FA !important;
}

#byregion .owh3Style{
	padding: 3px !important; margin: 0px !important
}

#byregion .hd{
	height: 30px !important; border: none !important
}

#byregion .bd{
	padding: 0 0 0 35px !important
}
 
.firstColumn {
    background-color: #f7f7f7 !important;
    border: 1px solid #f7f7f7!important;
    box-shadow: 0 -21px 0 #f7f7f7, 0 2px 18px #f7f7f7, 0 0 0 #f7f7f7, 17px -21px 0 0 #f7f7f7!important;
    float: left!important; 
    left: 0!important;
    margin-left: 0 !important;
    overflow: hidden !important;
    padding: 10px 0 20px 20px!important;
    position: fixed!important;
    width: 200px!important;
    z-index: 999!important;
}
/*secondColumn start*/
.secondColumn{
	-webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;   
    -o-transition: all 0.2s ease;    
    transition:all 0.2s ease;
}
.secondColumn{
	position: relative!important;
	display: block!important;
	float: left!important;
	display:inline-block!important; 
	margin-left: 220px;
     /*width:1920px; */
	/*  width:100%!important; */ 
	min-width:1100px!important; 
}


html.ie7 .secondColumn{
	width: 1100px!important;
	margin-left: 0!important;
	
}
#ascrail2000
{
	 left: 223px !important; 
}
html.ie7 #ascrail2000
{
	 left: 216px !important; 
}
#wrapper{  
     overflow:auto !important;
     margin-left:auto;
     margin-right:auto;
	 width:100%; 
	 left:0px !important;
}
 
.nicescroll-cursors {
    background-color: #c2c2c2 !important;
}
table.styleC thead {
	z-index:100;
}
.reportscrollcontainer{height:471px !important;;overflow-y:scroll}
   
 #leftcol_bob .pageutil .editLink .icon, .editLink .icon {
    margin-left: 6px !important;
    margin-top: -12px !important;
}


 
 
.tableScrollXnot{
position:relative !important;	
}

/*.fixedHeader{
position:absolute !important;	
}
*/


/*Fixed header style*/
 
.fixed_headers {
  width: 100%; 
  border-collapse: collapse;
 
}
 
.fixed_headers th,
.fixed_head td {
  padding: 5px !important;
  text-align: left;
}
.fixed_head td,
.fixed_headers th {
  min-width: 140px !important;
}
 
.fixed_head td,
.fixed_headers th {
  width: 60px !important;
}
  
 .fixed_head td:nth-child(1),
.fixed_headers th:nth-child(1) {
  min-width: 165px !important;
}
 .fixed_head td:nth-child(2),
.fixed_headers th:nth-child(2) {
  min-width: 165px !important;
}
 .fixed_head td:nth-child(3),
.fixed_headers th:nth-child(3) {
  min-width: 165px !important;
}
 .fixed_head td:nth-child(4),
.fixed_headers th:nth-child(4) {
  min-width: 165px !important;
}

 .fixed_head td:last-child(4),
.fixed_headers th:last-child(4) {
  min-width: 165px !important;
}

.fixed_headers thead tr {
  display: block;
  position: absolute !important;
}
.fixed_headers tbody {
  display: block; 
  width: 100% !important;
  
}
 